.grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);

    height: 100vh;
    overflow-y: scroll;
}

.grid > * {
    width: 100%;
}

.grid > *:hover {
  transform: scale(1.25);
  transition: 0.3s ease;
}

@media screen and (min-width: 1024px){
  .grid{
    grid-template-columns: repeat(10,1fr);
  }
}

@media (prefers-reduced-motion: no-preference) {
  /* .grid > *{
    animation: pepega infinite 20s linear;
  } */
}

@keyframes pepega {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }